apiVersion: apps/v1
kind: Deployment
metadata:
  name: myflask-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myflask
  template:
    metadata:
      labels:
        app: myflask
    spec:
      containers:
        - name: myflask
          image: alessandrogilli/myflask:1
          resources:
            limits:
              cpu: 100m
            requests:
              cpu: 10m
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
